@page "/"
@using Instem.Movies.Data
@using Instem.Movies.Shared.Model
@using Instem.Movies.State
@using Microsoft.AspNetCore.Components

@inject IMovieDataService MovieData
@inject NavigationManager NavManager
@inject AppState  AppState

<h1>Instem Movies App</h1>

Search or click!  Enjoy.

@if (!_movies.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <Addons>
        <Addon AddonType="AddonType.Body">
            <TextEdit @bind-Text="Criteria" Placeholder="Search for a movie..." />
        </Addon>
        <Addon AddonType="AddonType.End">
            <Button Clicked="@SearchButtonClicked">Search</Button>
        </Addon>
    </Addons>
    <br />
    <br />
    <Row>
        @foreach (var item in _movies)
        {
            <Column ColumnSize="ColumnSize.IsThird.OnDesktop.IsThird.OnTablet.IsFull.OnMobile">
                <MovieCard Data="item" OnSelectMovie="SelectMovie" />
            </Column>
        }
    </Row>
}



@code {
    readonly List<Movie> _movies = new List<Movie>();

    public string Criteria { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var m = await MovieData.GetHomePageAsync();
        _movies.AddRange(m);
    }

    private async void SearchButtonClicked()
    {
        var m = await MovieData.GetSearchResultsAsync(Criteria);
        _movies.Clear();
        _movies.AddRange(m);
        this.StateHasChanged();
    }

    private void SelectMovie(Movie data)
    {
        AppState.SetSelectedMovie(data);
        NavManager.NavigateTo("showmovie");
    }


}
